.formContainer {
  position: relative;
  .input__container {
    width: 30%;
    margin: auto;
    input,
    textarea {
      border-radius: 3px;

      margin: 1rem auto;
      padding: 10px;
      height: 2rem;
      width: 100%;
    }
    textarea {
      height: 5rem;
    }
    p {
      margin: 0;
      margin-bottom: 0.25rem;
      color: inherit;
      font-size: 15px;
    }
    .button__area {
      display: flex;
      justify-content: center;
      .form__button {
        margin: 1rem auto;
        width: 60%;
        height: 3rem;
      }
    }
  }
}
